<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <head>
        <title>Insert Successful</title>
    </head>

    <body>
        <div style="position: relative; top: 20px; text-align: center;">
            <h2>You have successfully inserted a new record!</h2>
            <a href="/"><button id="btnHome"> Home </button> </a>
        </div>
      
    </body>
</html>
