<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <head>
        <title>Insert a New Record</title>
    </head>

    <body>
        <h1>Insert a New Record</h1>
        <form method="get" action="/insertRecord">
            <p>Name: <input name="movieName" type="text" id="movieName" required> </p>
            <p>Year: <input name="year" type="number" id="year" min="1880" max="2022" step="1" required> </p>
            <p>Rank: <input name="rank" type="number" id="rank" min="0" max="10" step="any"> </p>
            <input type="submit" id="btnInsert" value="Insert">
        </form>            
    </body>
</html>
