<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <head>
        <title>Insert a New Record</title>
    </head>

    <body>
        <h1>Insert a New Record</h1>
        <form>
            <p>ID #: <input type="text" id = "idNumber" name:"idNumber" required> </p>
            <p>Name: <input type="text" id = "name" name:"name" required> </p>
            <p>Year: <input type="text" id = "year" name:"year" required> </p>
            <p>Rank: <input type="text" id = "rank" name:"rank" required> </p>
            <input type="submit" id="btnInsert" value="Insert">
        </form>        
    </body>
</html>
