<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <head>
        <title>Update Record</title>
    </head>

    <body>
        <h1>Update Record</h1>
        <form method="get" action="/updateRecord">
            <p>ID #: <input name = "idNum" type="text" id = "idNumber" value = "{{idNum}}" readonly > </p>
            <p>Name: <input name = "name" type="text" id = "name" value = "{{name}}" required> </p>
            <p>Year: <input name = "year" type="text" id = "year" value = "{{year}}" required> </p>
            <p>Rank: <input name = "rank" type="text" id = "rank" value = "{{rank}}"> </p>
            <input type="submit" id="btnUpdate" value="Update">
        </form>        
    </body>
</html>