<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <head>
        <title>Update Successful</title>
    </head>

    <body>
        <div style="position: relative; top: 20px; text-align: center;">
            <h2>You have successfully updated a record with id: {{idNum}}</h2>
            <h3>name: {{name}}</h3>
            <h3>year: {{year}}</h3>
            <h3>rank: {{rank}}</h3>
            <a href="/"><button id="btnHome"> Home </button> </a>
        </div>
      
    </body>
</html>
